.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.table {
  width: 90%;
  border: 1px solid red;
}
.thead{
  background-color: green;
}
.tr{
  border: 1px solid rebeccapurple;
}
.td{
  border: 1px solid red;
  margin: 0;
  text-align: center;
}