.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media screen and (max-width: 430px) {
  .main {
    margin-top: 10px;
  }
}
