.main {
  width: 100%;
  margin: 25px 0;
  padding-top: 50px;
  position: relative;
  overflow: hidden;
}
.bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  animation: myanime 15s ease-in-out infinite;
  margin-left: 0;
}
.title {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  color: #25a1ff;
  cursor: default;
}
@media screen and (max-width: 420px) {
  .bar {
    animation: myanime2 15s ease-in-out infinite;
  }
}

@keyframes myanime {
  0% {
    margin-left: 0;
  }
  7% {
    margin-left: 0;
  }
  14% {
    margin-left: -420px;
  }
  21% {
    margin-left: -420px;
  }
  28% {
    margin-left: calc(-420px * 2);
  }
  35% {
    margin-left: calc(-420px * 2);
  }
  42% {
    margin-left: calc(-420px * 3);
  }
  49% {
    margin-left: calc(-420px * 3);
  }
  56% {
    margin-left: calc(-420px * 4);
  }
  63% {
    margin-left: calc(-420px * 4);
  }
  70% {
    margin-left: calc(-420px * 5);
  }
  77% {
    margin-left: calc(-420px * 5);
  }
  84% {
    margin-left: calc(-420px * 6);
  }
  91% {
    margin-left: calc(-420px * 6);
  }
}
@keyframes myanime2 {
  0% {
    margin-left: 0;
  }
  7% {
    margin-left: 0;
  }
  14% {
    margin-left: -270px;
  }
  21% {
    margin-left: -270px;
  }
  28% {
    margin-left: calc(-270px * 2);
  }
  35% {
    margin-left: calc(-270px * 2);
  }
  42% {
    margin-left: calc(-270px * 3);
  }
  49% {
    margin-left: calc(-270px * 3);
  }
  56% {
    margin-left: calc(-270px * 4);
  }
  63% {
    margin-left: calc(-270px * 4);
  }
  70% {
    margin-left: calc(-270px * 5);
  }
  77% {
    margin-left: calc(-270px * 5);
  }
  84% {
    margin-left: calc(-270px * 6);
  }
  91% {
    margin-left: calc(-270px * 6);
  }
}
